<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Página de Inicio de Sesión</title>
  <link rel="stylesheet" href="login-form.component.css">
</head>
<body>
<form (ngSubmit)="submitForm()" class="flex flex-column align-items-center justify-content-center">
  <div class="surface-card">
    <div class="text-center mb-5">
      <img src="../../../../assets/layout/images/rca.png" alt="Image" height="80" class="mb-3">
      <div class="text-lg text-700 font-medium mb-3">Welcome!</div>
      <span class="text-lg text-500 font-medium">Sign in to continue</span>
    </div>

    <div class="mb-3">
      <label for="email1" class="block text-md text-700 mb-2">Email</label>
      <input id="email1" [(ngModel)]="email" name="email" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-3" style="padding:1rem">
    </div>

    <div class="mb-3">
      <label for="password1" class="block text-md text-700 mb-2">Password</label>
      <input id="password1" [(ngModel)]="password" name="password" type="password" placeholder="Password" pInputText class="w-full md:w-30rem mb-3" style="padding:1rem">
    </div>

    <div class="mb-3">
      <div class="flex flex-column align-items-start">
        <div class="mb-2">
          <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
          <label for="rememberme1" class="text-md text-700">Remember me</label>
        </div>
        <a class="text-md text-700 no-underline cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
      </div>
    </div>

    <div class="mb-3">
      <button type="submit" pButton pRipple label="Sign In" class="w-full p-3 text-md"></button>
    </div>
  </div>
</form>
</body>
</html>
