<div class="col-12">
  <div class="card1">
    <div class="col-12">
      <form [formGroup]="warehouseForm" (ngSubmit)="onSubmit()">
  
        <h5>Warehouse Information</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label for="name">Name</label>
            <input pInputText id="name" type="text" formControlName="name"/>
          </div>
          <div class="field col-12 md:col-6">
            <label for="country">Country</label>
            <input pInputText id="country" type="text" formControlName="country"/>
          </div>
          <div class="field col-12 md:col-6">
            <label for="district">District</label>
            <input pInputText id="district" type="text" formControlName="district"/>
          </div>
          <div class="field col-6">
            <label for="workshop">Workshop Id:</label>
            <input pInputText id="workshop" type="number" formControlName="workshopId"/>
          </div>

          <div class="field col-12 md:col-12">
            <label for="address">Address Detail</label>
            <input pInputText id="address" type="text" formControlName="addressDetail"/>
          </div>
        </div>
        <div class="flex justify-content-center">
          <p-toast></p-toast>
          <p-button type="submit">Save</p-button>
        </div>
      </form>
    </div>
  </div>
</div>

