<div class="grid">
  <div class="col-12">
    <div class="card">
      <div
        class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
        <div class="font-bold mr-8">⚙️ Under Construction!</div>
        <div class="align-items-center hidden lg:flex">
      <span
        class="line-height-3">We are currently working hard to bring you new and exciting features. Stay Tuned!
      </span>
        </div>
      </div>
      <h4>Empty Page</h4>
      <p>This is your empty page template to start building beautiful applications.</p>
    </div>
  </div>
</div>

