
<div class="grid">
  <div class="col-12">
    <div class="card">
      <div
        class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
        <div class="font-bold mr-8">⚙️ Under Construction!</div>
        <div class="align-items-center hidden lg:flex">
      <span
        class="line-height-3">We are currently working hard to bring you new and exciting features. Stay Tuned!
      </span>
        </div>
      </div>
      <h4>Empty Page</h4>
      <p>This is your empty page template to start building beautiful applications.</p>
    </div>
  </div>
</div>



<!--      

  <div class="card surface-card align-items-center btn border-top-none">
    <h2 class="text-center">PLANS TO RENTER OWNERS</h2>
  </div>

  <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">Planes y precios</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3">Encuentra la suscripción perfecta para tus
      necesidades de alquiler de automóviles
    </div>
    
    <div class="grid">
      <div class="col-12 lg:col-4">
        <div class="p-3 h-full">
          <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
            <div class="text-900 font-medium text-xl mb-2">Basic</div>
            <div class="text-600">Descripción del plan</div>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
            <div class="flex align-items-center">
              <span class="font-bold text-2xl text-900">$0</span>
              <span class="ml-2 font-medium text-600">mensual</span>
            </div>
            <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
            <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Acceso a la plataforma de alquiler de automóviles.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Búsqueda y reserva de vehículos disponibles</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Asistencia técnica básica en caso de problemas.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Pago seguro y protección de datos.</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full mt-auto"></button>
        </div>
      </div>
    </div>
    
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-medium text-xl mb-2">Premium</div>
          <div class="text-600">Descripción del plan</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$10</span>
            <span class="ml-2 font-medium text-600">mensual</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Todas las características de la Suscripción Básica.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Niveles adicionales de asistencia técnica y de mantenimiento.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Servicio de atención al cliente prioritario.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Descuentos exclusivos en tarifas de alquiler.</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full"></button>
        </div>
      </div>
    </div>
    
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-medium text-xl mb-2">VIP</div>
          <div class="text-600">Descripción del plan</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$49</span>
            <span class="ml-2 font-medium text-600">mensual</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Todas las características de la Suscripción Premium.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Asistencia especializada en caso de accidentes o choques.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Servicio de remolque de emergencia.</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Vehículo de reemplazo en caso de reparaciones prolongadas.</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full p-button-outlined"></button>
        </div>
      </div>
    </div>
  </div>
</div>

-->