<div class="card mb-5">
  <div class="flex justify-content-between align-items-center mb-2">
    <h5 class="text-800 font-semibold">Rental History</h5>
  </div>
  <p-table  *ngIf="workshops && workshops.length > 0"  [value]="workshops"  [paginator]="true" [rows]="5"
            responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th pSortableColumn="name">Name</th>
        <th>Country</th>
        <th>District</th>
        <th>Address Details</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-workshop class="text-xs">
      <tr>
        <td style="width: 5%; min-width: 2rem;" class="font-normal">{{workshop.id}}</td>
        <td style="width: 15%; min-width: 7rem;" class="font-normal">{{workshop.name}}</td>
        <td style="width: 15%; min-width: 3rem;" class="font-normal">{{workshop.country}}</td>
        <td style="width: 15%; min-width: 3rem;" class="font-normal">{{workshop.district}}</td>
        <td style="width: 15%; min-width: 3rem;" class="font-normal">{{workshop.addressDetail}}</td>
        <td style="width: 15%; min-width: 7rem;">
          <!-- <span class="flex justify-content-center" [ngClass]="getCarStateClass(rent.state)">{{getCarStateCode(rent.state)}}</span> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="!workshops || workshops.length === 0"
       class="h-20rem flex justify-content-center align-items-center
        flex-column">
    <h5 class="order-badge add-data">No workshops yet.</h5>
    <p>Get started by adding your first workshop!</p>
    <button pButton pRipple label="Create Workshop" (click)="createWorkshop()"
                  class="p-button-text p-button-rounded border-none font-light line-height-2 bg-blue-500 text-white"></button>
  </div>
</div>
<!--(click)=""-->
