<div class="card">
  <div class="flex justify-content-between align-items-center mb-5">
    <h5 class="text-800 font-semibold">My vehicles</h5>
    <div>
      <!-- <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
       <p-menu #menu [popup]="true" [model]="items"></p-menu>-->
      <p-button (click)="showCreateDialog()" icon="pi pi-plus"
                styleClass="p-button-rounded p-button-text p-button-raised"></p-button>

    </div>
  </div>
  <p-table *ngIf="ownerCars && ownerCars.length > 0" [value]="ownerCars" [paginator]="true" [rows]="5"
           responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Vehicles</th>
        <th pSortableColumn="name">Name</th>
        <th pSortableColumn="price">Price</th>
        <th pSortableColumn="stars">Stars</th>
        <th pSortableColumn="stars">Status</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td style="width: 15%; min-width: 5rem;">
          <p-image src="{{ car.image }}" alt="{{car.name}}" [preview]="true"
                   width="50"></p-image>
        </td>
        <td style="width: 35%; min-width: 7rem;" class="font-normal">{{car.name}}</td>
        <td style="width: 30%; min-width: 7rem;" class="font-normal">{{car.price}} {{car.currency}} </td>
        <td style="width: 15%; min-width: 3rem;" class="font-normal">{{car.stars}}
          <i class="mt-0 mb-3 pi pi-star-fill" style="color: rgb(255,177,89)"></i>
        </td>
        <td style="width: 35%; min-width: 7rem;">
         <span  [ngClass]="getCarStateClass(car.state)">{{getCarStateCode(car.state)}}</span>
        </td>
        <td style="width: 13%;">
          <button (click)="editVehicleById(car)" pButton pRipple type="button" icon="pi pi-file-edit"
                  class="p-button p-component p-button-text p-button-icon-only"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="!ownerCars || ownerCars.length === 0"
       class="h-20rem flex justify-content-center align-items-center
        flex-column">
    <h5 class="order-badge add-data">No cars listed yet.</h5>
    <p>Get started by publishing your first car!</p>
  </div>
</div>
