<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Vehiculos</span>
          <div class="text-900 font-medium text-xl">
            {{ this.totalVehicles }}
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-car text-blue-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Rentals income</span>
          <div class="text-900 font-medium text-xl">$0</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-money-bill text-orange-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Rents</span>
          <div class="text-900 font-medium text-xl">0</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-file-o text-cyan-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Rent request</span>
          <div class="text-900 font-medium text-xl">0</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-file-o text-cyan-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 xl:col-6">
    <!--Rent Order History-->
    <ng-container [ngSwitch]="userRole[0]">
      <div *ngSwitchCase="'mechanic'" class="h-20rem flex justify-content-center align-items-center flex-column">
        <!-- Contenido para el mecánico -->
      </div>
      <div *ngSwitchCase="'renter'">
        <app-rent-order-renter></app-rent-order-renter>
      </div>
      <app-rent-order-owner *ngSwitchDefault></app-rent-order-owner>
    </ng-container>
    <!--RentingOrderItems-->
    <ng-container *ngIf="userRole[0] === 'mechanic'; else renterBlock">
      <p>MECANICO</p>
    </ng-container>
    <ng-template #renterBlock>
      <ng-container *ngIf="userRole[0] === 'renter'; else ownerBlock">
        <app-accepted-renting-items></app-accepted-renting-items>
      </ng-container>
    </ng-template>
    <ng-template #ownerBlock>
      <app-vehicle-card></app-vehicle-card>
    </ng-template>
  </div>

  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Orders Overview</h5>

      <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>

    <div class="card">
      <ng-container *ngIf="userRole == 'owner'">
        <div class="flex align-items-center justify-content-between mb-4">
          <h5 class="text-800 font-semibold">Renter Orders Items</h5>
          <div>
            <button
              pButton
              type="button"
              icon="pi pi-ellipsis-v"
              class="p-button-rounded p-button-text p-button-plain"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>
        </div>
        <app-renting-order-items></app-renting-order-items>
      </ng-container>

      <ng-container *ngIf="userRole == 'renter'">
        <div class="flex align-items-center justify-content-between mb-4">
          <h5 class="text-800 font-semibold">Renting Items History</h5>
          <div>
            <button
              pButton
              type="button"
              icon="pi pi-ellipsis-v"
              class="p-button-rounded p-button-text p-button-plain"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
          </div>
        </div>
        <app-renting-order-history></app-renting-order-history>
      </ng-container>
    </div>

  </div>
</div>
