
<div class="flex flex-column align-content-end align-items-start md:align-items-center">
  <div class="col-12" >
    <div class="card">
      <div class="text-2xl font-bold text-900  pb-3" >{{ car.name }}</div>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <div class="flex flex-column gap-4" >
            <span class="font-semibold"> Marca: {{car.brand }}</span>
            <span class="font-semibold"> Modelo: {{car.model }}</span>
            <span class="font-semibold"> Año: {{car.year }}</span>
          </div>
        </div>
        <div class="field col-12 md:col-6 flex justify-content-center">
          <img [src]="car.image" alt="Car Image" class="w-full border-round">
        </div>
        <div class="field col-12 md:col-4">
        </div>
      </div>
      <div class="flex justify-content-end w-full gap-3">
        <p-tag severity="warning" [value]="category" *ngFor="let category of car.categories"></p-tag>
      </div>
      <div class="flex justify-content-start w-full">
        <div>
          <p-button (click)="showCreateDialog()" >Request</p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div *ngFor="let car of cars" class="card flex justify-content-center">
  <div class="car-info">
    <p-card header="{{ car.name }}">
      <p class="m-0">
        Brand: {{ car.brand }}
      </p>
      <p class="m-0">
        Model: {{ car.model }}
      </p>
    </p-card>
  </div>
  <div class="car-image p-d-flex">
    <img [src]="car.image" alt="Car Image" class="p-flex-3">
  </div>
</div>
-->
