<div class="col-12">
  <div class="card1">
    <div class="col-12">
      <form [formGroup]="proposalForm" (ngSubmit)="onSubmit()">

        <h5>Proposal Information</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label for="vehicleName">Vehicle Name</label>
            <input pInputText id="vehicleName" type="text" formControlName="vehicleName"/>
          </div>
          <div class="field col-12 md:col-6">
            <label for="vehicleId">Vehicle Id:</label>
            <input pInputText id="vehicleId" type="number" formControlName="vehicleId"/>
          </div>
          <div class="field col-12 md:col-6">
            <label for="year">Year</label>
            <input pInputText id="year" type="text" formControlName="year"/>
          </div>
          <div class="field col-6">
            <label for="workshopId">Workshop Id:</label>
            <input pInputText id="workshopId" type="number" formControlName="workshopId"/>
          </div>

          <div class="field col-12 md:col-12">
            <label for="descriptionProblems">Description Problems</label>
            <input pInputText id="descriptionProblems" type="text" formControlName="descriptionProblems"/>
          </div>
        </div>
        <div class="flex justify-content-center">
          <p-toast></p-toast>
          <p-button type="submit">Save</p-button>
        </div>
      </form>
    </div>
  </div>
</div>

