<div class="col-12">
  <div class="card1">
    <div class="col-12">
      <form [formGroup]="rentingItemForm" (ngSubmit)="onSubmit()">
        <h5>Request Information</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">

            <div class="field col-12">
              <label for="startDate">Fecha de Inicio</label>
              <p-calendar id="startDate" formControlName="startDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="field col-12">
              <label for="endDate">Fecha Fin</label>
              <p-calendar id="endDate" formControlName="endDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="field col-12">
              <p-button type="submit">Guardar</p-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
