<div class="card mb-5">
  <div class="flex justify-content-between align-items-center mb-2">
    <h5 class="text-800 font-semibold">Rental History</h5>
  </div>
  <p-table  *ngIf="rentOrder && rentOrder.length > 0"  [value]="rentOrder"  [paginator]="true" [rows]="5"
           responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>vehicle</th>
        <th pSortableColumn="name">Renter</th>
        <th pSortableColumn="stars">Renter email</th>
        <th pSortableColumn="stars">state</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rent class="text-xs">
      <tr>
        <td style="width: 5%; min-width: 2rem;" class="font-normal">{{rent.id}}</td>
        <td style="width: 15%; min-width: 5rem;">
          <p-image src="{{ rent.vehicleImage }}" alt="{{rent.vehicleName}}" [preview]="true"
                   width="50"></p-image>
        </td>
        <td style="width: 15%; min-width: 7rem;" class="font-normal">{{rent.renterName}}</td>
        <td style="width: 15%; min-width: 3rem;" class="font-normal">{{rent.renterEmail}}</td>
        <td style="width: 15%; min-width: 7rem;">
          <span class="flex justify-content-center" [ngClass]="getCarStateClass(rent.state)">{{getCarStateCode(rent.state)}}</span>
        </td>
        <td style="width: 13%;">
          <button
            pButton pRipple type="button" icon="pi pi-eye"
            class="p-button p-component p-button-text p-button-icon-only"

          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="!rentOrder || rentOrder.length === 0"
       class="h-20rem flex justify-content-center align-items-center
        flex-column">
    <h5 class="order-badge add-data">No cars listed yet.</h5>
    <p>Get started by publishing your first car!</p>
  </div>
</div>
<!--(click)=""-->
